@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Roboto:ital,wght@0,400;1,700&display=swap");

$mainGradient: orange;
$fontFamily: "Roboto", sans-serif;
$bgColor: hsl(356, 100%, 66%);
$neutralWhite: hsl(0, 0%, 100%);

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  background-image: url(../Assets/bg-pattern-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-modal-open {
  background: black;
  opacity: 0.3;
}

.open-modal-button {
  background: $neutralWhite;
  border: none;
  transition: 0.2s;
  font-weight: 700;
  color: $bgColor;
  user-select: none;
}

.button--sm {
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 2rem;
}
.button--md {
  padding: 2rem 4rem;
  font-size: 2rem;
  border-radius: 4rem;
}
.button--lg {
  padding: 3rem 7rem;
  font-size: 3rem;
  border-radius: 5rem;
}

.open-modal-button:hover {
  background: #ff7b86;
  cursor: pointer;
  color: $neutralWhite;
}

.opened {
  pointer-events: none;
  opacity: 0.5;
}

// .register-modal-active {
//   opacity: 1 !important;
//   transform: translate(-50%, -40%) !important;
// }

.inactive-button {
  background: #ff7b86 !important;
  cursor: none;
}

.register-modal {
  background: $neutralWhite;
  border-radius: 1rem;
  position: absolute;
  transition: 100ms ease-in-out;
  // transform: translateY(-45px);
  transform: translate(-50%, -30%);
  animation: 0.2s showModal;
  top: 30%;
  left: 50%;
  user-select: none;
  z-index: 1000;

  .register-modal__content {
    text-align: center;
    padding: 1.5rem;
  }

  .register-modal__info {
    max-width: 32ch;
  }

  .close-modal-button {
    outline: none;
    background: none;
    border: none;
    font-weight: 700;
    color: $bgColor;
    font-size: 1rem;
    display: flex;
    border-top: grey 1px solid;
    width: 100%;
    justify-content: center;
    transition: 0.2s;
    border-radius: 0 0 1rem 1rem;
    padding: 0.7rem 0;
  }

  .close-modal-button:hover {
    cursor: pointer;
    background: #ff7b86;
    color: $neutralWhite;
  }
}

@keyframes showModal {
  0%{
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -30%)
  }
}
